body{
    margin: 0;
    background-image: url(catBread.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
  display: flex;
  align-items: center;      
  background-color: rgb(172, 17, 255);
  border: 3px solid white;
  padding: 20px;
  border: solid black 5px;     
}

h1 {
  color: red;
  margin: 0 20px 0 0;  
  padding: 20px 0
}

ul#menu {
  list-style: none;
  margin: 0;
  margin-left: 500px; 
  padding: 0;
  display: flex;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.893);
  border: 3px beige solid;
  margin: 5px;
  padding: 3px 15px 3px 5px;
  background-color: rgb(188, 5, 243);
  text-align: center;
}

li:hover {
  background-color: hotpink;
}

.blur{

     background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px);
    border: 1px solid rgba(4, 168, 160, 0.3); 
    border-radius: 10px
}

.fill{
  background-color: blueviolet;
}