body {
    background-color: rgb(222, 222, 222);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 0 0;
}

header {
    background-color: rgb(0, 255, 60);
    color: rgb(255, 0, 0);
    padding: 38px 0 38px 0;
    margin: 3px 5px 3px 5px;
}

h1 {
    margin: 0 0 0 0; text-align: center;
}

section {
    background-color: rgb(38, 237, 148);
    border: 3px red solid;
    margin: 15px 12px 15px 12px;
    border-radius: 18px;
    box-shadow: 7px 7px 2px black;
    padding: 0 8px 0 8px;
}

footer{
    background-color: rgb(0, 255, 60);
    color:red;
    text-align: center;
    padding: 18px 0 18px 0
}