header {
    width: 100%;
    height: 500px;
    background-color: lightgray;
}

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: grey;
    max-width: 1000px;
}

main {
    background-color: turquoise;
    height: 300px;
}

section{
    background-color: salmon;
    height: 100px;
}

.container {
    max-width: 1000px;
    height: 100%;
    /* background-color: green; */
    margin: 0 auto;
}