body{
    background-image: url(head.jpg);
    background-size:auto ; 
    background-repeat: repeat-x;
}

h1{
    background-color: #475ea2;
    color:#cbd301;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center ;
    align-items: center;
    padding: 10px;
    border: solid 3px #cbd301 ;
    margin:60px 550px 0 130px ;
}
/* breedte bepalen kan met width(makkelijker) */
